---
import { getCollection } from 'astro:content';
import Layout from '../layouts/Layout.astro';
const title = 'A11yCrwlr | Project Log';
const allLogs = await getCollection('log');
const sortedLogs = allLogs.sort((a, b) => {
  const aDate = new Date(a.data.title).valueOf();
  const bDate = new Date(b.data.title).valueOf();
  console.log(bDate - aDate);
  return bDate - aDate;
});
---

<Layout {title}>
  <article class="flow log" id="main-content">
    <h1>Project Log</h1>

    {
      sortedLogs.map(async (log) => {
        const { Content } = await log.render();
        return (
          <section class="flow log-entry">
            <h2>{log.data.title}</h2>
            <Content />
          </section>
        );
      })
    }
  </article>
</Layout>
