---
import Layout from '../layouts/Layout.astro';
const title = 'A11yCrwlr | Poster';
---

<Layout {title}>
  <main>
    <article class="flow" id="main-content">
      <h1>Presentation Poster</h1>
      <img
        src="Poster.jpg"
        alt="An academic poster titled 'Accessibility at Angelo.edu and Its Effect on Students with Disabilities' by Jeff Caldwell and Dr. Kevin Garrison from the Department of English and Modern Languages at Angelo State University. The poster has a clear structure with sections for Abstract, Methodology, Results, Discussion, References, and Acknowledgements. It includes various types of data presentation such as bar charts showing accessibility errors by page type and quotes from students. The color scheme is primarily blue, red, and white, making it visually striking. The content focuses on the compliance of Title IV higher education institutions with accessibility guidelines and the impact of accessibility on students with disabilities. The poster highlights quantitative and qualitative data collected from a study at Angelo State University and discusses how students prefer autonomy in accessing digital services."
      />
    </article>
  </main>
</Layout>

<style>
  main {
    grid-column: span 2;
  }
</style>
