---
import Layout from "../layouts/Layout.astro";
const title = "A11yCrwlr | Poster";
---

<Layout {title}>
  <main>
    <article class="flow" id="main-content">
      <h1>Presentation Poster</h1>
    </article>
  </main>
</Layout>

<style>
  main {
    grid-column: span 2;
  }
</style>
