:root {
  --color-green: 68, 179, 69;
  --color-light-green: 84, 255, 86;
  --color-red: 255, 99, 71;
  --color-blue: 32, 159, 179;
  --color-light-blue: 59, 229, 255;
  --color-black: 14, 12, 20;
  --color-white: 250, 248, 254;
  --color-body: rgb(var(--color-black));
  --color-background: rgb(var(--color-white));
  --color-primary: rgb(var(--color-blue));
  --color-secondary: rgb(var(--color-blue));
  --color-hover: rgb(var(--color-blue));
  --color-accent: var(--color-secondary);
  --color-subdued-surface: rgb(var(--color-black), 0.01);
  --color-surface: rgb(var(--color-black), 0.06);

  --size-9: 3.052rem;
  --size-8: 2.441rem;
  --size-7: 1.953rem;
  --size-6: 1.563rem;
  --size-5: 1.25rem;
  --size-4: 1rem;
  --size-3: 0.8rem;
  --size-2: 0.64rem;
  --size-1: 0.512rem;

  /* Fluid Type */
  --size-step-0: clamp(1rem, calc(0.96rem + 0.22vw), 1.13rem);
  --size-step-1: clamp(1.25rem, calc(1.16rem + 0.43vw), 1.5rem);
  --size-step-2: clamp(1.56rem, calc(1.41rem + 0.76vw), 2rem);
  --size-step-3: clamp(1.95rem, calc(1.71rem + 1.24vw), 2.66rem);
  --size-step-4: clamp(2.44rem, calc(2.05rem + 1.93vw), 3.55rem);

  --font-mono: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
  --font-sans: 'Merriweather Sans', system-ui, sans-serif;
  --font-serif: 'Merriweather', serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-primary: rgb(var(--color-light-blue), 0.9);
    --color-background: rgb(var(--color-black));
    --color-body: rgb(var(--color-white));
    --color-hover: rgb(var(--color-light-blue));
    --color-subdued-surface: rgb(var(--color-white), 0.05);
    --color-surface: rgb(var(--color-white), 0.07);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* RESET */
/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Actual styles */

html {
  font-size: 100%;
}

body {
  height: 100vh;
  overflow: hidden;
  font-family: var(--font-serif);
  font-size: var(--size-step-0);
  font-weight: 400;
  color: var(--color-body);
  background-color: var(--color-background);
  line-height: 1.7;
  display: grid;
  /* gap: 3rem; */
  grid-template-rows: auto 1fr auto;
}

main {
  overflow-y: auto;
  width: 100%;
  scroll-behavior: smooth;
  display: grid;
  grid-template-columns: 20rem 1fr;
  margin-inline: 3rem;
  gap: 6rem;
}

::selection {
  background: var(--color-primary);
  color: var(--color-background);
}

code {
  font-family: var(--font-mono);
}

a {
  color: var(--color-body);
  /* text-decoration-color: var(--color-primary); */
  text-decoration-thickness: 0.025em;
  text-underline-offset: 0.125em;
}

a:hover {
  color: var(--color-hover);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--font-sans);
  font-weight: 500;
  line-height: 1.1;
  text-wrap: balance;
}

ul:not([class]),
ol:not([class]) {
  margin-inline-start: 1em;
  padding-inline-start: 0;
}

li {
  margin-inline: 0;
  padding-inline: 0;
}

blockquote {
  padding-inline-start: 1em;
  border-inline-start: 0.3em solid;
  font-style: italic;
  font-size: var(--size-step-1);
}

h1 {
  font-size: var(--size-step-4);
}

h2 {
  font-size: var(--size-step-3);
}

h3 {
  font-size: var(--size-step-2);
}

h4 {
  font-size: var(--size-step-1);
}

.flow>*+* {
  margin-block-start: var(--flow-space, 1em);
}

:is(h1, h2, h3, blockquote) {
  --flow-space: var(--size-step-1);
}

:is(h1, h2, h3)+* {
  --flow-space: var(--size-step-1);
}

article>* {
  max-width: 70ch;
}

blockquote {
  max-width: 60ch;
}

.lede {
  font-size: var(--size-step-1);
  font-style: italic;
  max-width: 50ch;
  text-wrap: balance;
}

.lede+* {
  --flow-space: 2em;
}

article {
  max-width: 70ch;
  grid-column: 2/3;
}

article {
  padding-block: 3rem;
}

.contains-task-list {
  margin-inline: 0;
  padding-inline: 0;
  list-style-type: none;
}

.task-list-item:has(input:checked) {
  text-decoration: line-through;
}