:root {
  --color-green: 68, 179, 69;
  --color-light-green: 84, 255, 86;
  --color-red: 255, 99, 71;
  --color-blue: 32, 159, 179;
  --color-light-blue: 59, 229, 255;
  --blah: #209fb3;
  --color-black: 14, 12, 20;
  --color-white: 250, 248, 254;
  --color-body: rgb(var(--color-black));
  --color-background: rgb(var(--color-white));
  --color-primary: rgb(var(--color-blue));
  --color-secondary: rgb(var(--color-blue));
  --color-hover: rgb(var(--color-blue));
  --color-accent: var(--color-secondary);
  --color-subdued-surface: rgb(var(--color-black), 0.01);
  --color-surface: rgb(var(--color-black), 0.06);
  --color-subdued-highlight: rgb(var(--color-blue), 0.2);

  --size-9: 3.052rem;
  --size-8: 2.441rem;
  --size-7: 1.953rem;
  --size-6: 1.563rem;
  --size-5: 1.25rem;
  --size-4: 1rem;
  --size-3: 0.8rem;
  --size-2: 0.64rem;
  --size-1: 0.512rem;

  /* Fluid Type */
  --step-0: clamp(1rem, calc(0.96rem + 0.22vw), 1.13rem);
  --step-1: clamp(1.25rem, calc(1.16rem + 0.43vw), 1.5rem);
  --step-2: clamp(1.56rem, calc(1.41rem + 0.76vw), 2rem);
  --step-3: clamp(1.95rem, calc(1.71rem + 1.24vw), 2.66rem);
  --step-4: clamp(2.44rem, calc(2.05rem + 1.93vw), 3.55rem);

  --font-mono: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
  --font-sans: 'Merriweather Sans', system-ui, sans-serif;
  --font-serif: 'Merriweather', serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-primary: rgb(var(--color-light-blue), 0.9);
    --color-background: rgb(var(--color-black));
    --color-body: rgb(var(--color-white));
    --color-hover: rgb(var(--color-light-blue));
    --color-subdued-surface: rgb(var(--color-white), 0.05);
    --color-surface: rgb(var(--color-white), 0.07);
    --color-subdued-highlight: rgb(var(--color-light-blue), 0.1);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* RESET */
/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Actual styles */

html {
  font-size: 100%;
}

body {
  height: 100vh;
  overflow: hidden;
  font-family: var(--font-serif);
  font-size: var(--step-0);
  font-weight: 400;
  color: var(--color-body);
  background-color: var(--color-background);
  line-height: 1.7;
  display: grid;
  gap: 3rem;
  grid-template-rows: auto 1fr auto;
  /* grid-template-columns: 20rem 1fr; */
  grid-template-areas:
    "header header"
    "main main"
    "footer footer";
}

.main-container {
  grid-area: main;
  display: grid;
  grid-template-columns: 20rem 1fr;
  gap: 6rem;
  /* width: 85rem; */
  padding-inline: 3rem;
  /* margin-inline: auto; */
  scroll-behavior: smooth;
  overflow-y: auto;
}

main {
  /* overflow-y: auto; */
  /* display: grid; */
  /* grid-template-columns: 20rem 1fr; */
  /* margin-inline: 3rem; */
  /* grid-area: main; */
}

.sidebar {
  /* grid-area: sidebar; */
}

header {
  grid-area: header;
}

footer {
  grid-area: footer;
}

::selection {
  background: var(--color-primary);
  color: var(--color-background);
}

code {
  font-family: var(--font-mono);
}

a {
  color: var(--color-body);
  /* text-decoration-color: var(--color-primary); */
  text-decoration-thickness: 0.025em;
  text-underline-offset: 0.125em;
}

a:hover {
  color: var(--color-hover);
}

.visually-hidden {
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 200;

  &:not(:focus):not(:active) {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--font-sans);
  font-weight: 500;
  line-height: 1.5;
  text-wrap: balance;
}

ul:not([class]),
ol:not([class]) {
  margin-inline-start: 1em;
  padding-inline-start: 0;
}

li {
  margin-inline: 0;
  padding-inline: 0;
}

blockquote {
  padding-inline-start: 1em;
  border-inline-start: 0.3em solid;
  font-style: italic;
  font-size: var(--step-1);
}

h1 {
  font-size: var(--step-3);
}

h2 {
  font-size: var(--step-2);
}

h3 {
  font-size: var(--step-1);
}

h4 {
  font-size: var(--step-0);
}

.report-header {
  margin-bottom: var(--size-9);
  padding-bottom: var(--size-9);
}

.report-title {
  font-size: var(--step-2);
  text-align: center;
  margin-bottom: var(--size-9);
}


.report-header address {
  font-family: var(--font-sans);
  font-style: normal;
  font-size: var(--step-0);
  text-align: center;
}

.flow>*+* {
  margin-block-start: var(--flow-space, 1em);
}

:is(h1, h2, h3, blockquote) {
  --flow-space: var(--step-3);
  /* margin-top: var(--flow-space); */
}

:is(h1, h2, h3)+* {
  --flow-space: var(--step-1);
  /* margin-top: var(--flow-space); */
}

:is(h2) {
  /* text-decoration: underline; */
  border-bottom: 0.075em solid var(--color-body);
  padding-bottom: 0.25em;
}

.log-entry {
  margin-block-end: var(--step-4);
  --flow-space: var(--step-1);
}

article>* {
  max-width: 70ch;
}

blockquote {
  max-width: 60ch;
}

.lede {
  font-size: var(--step-1);
  font-style: italic;
  max-width: 50ch;
  text-wrap: balance;
}

.lede+* {
  --flow-space: 2em;
}

article {
  max-width: 70ch;
  grid-column: 2/3;
}

article:not(.citation) {
  padding-block: 3rem;
}

.citation {
  /* white-space: break-spaces; */
  text-indent: 3em hanging;
}

.citation p::first-line {
  /* font-size: var(--step-1); */
  font-weight: bold;
}

.citation p a {
  font-weight: normal;
}

.contains-task-list {
  margin-inline: 0;
  padding-inline: 0;
  list-style-type: none;
}

.task-list-item:has(input:checked) {
  text-decoration: line-through;
}

*~input[type="checkbox"]:checked {
  text-decoration: line-through;
}

th {
  border-bottom: 1px solid var(--color-body);
}

figure {
  margin-block-start: var(--step-1);
  margin-block-end: var(--step-1);
  display: flex;
  flex-direction: column;
  align-items: center;

  & table {
    width: 100%;
    border-spacing: 0.5em;
  }
}

figcaption {
  font-size: var(--step-0);
  font-style: italic;
  text-align: center;
  margin-block-start: var(--step-1);
  margin-block-end: var(--step-1);
}

td,
th {
  padding: 0.5rem;
  ;
}


.apexcharts-text,
.apexcharts-legend-text {
  color: var(--color-body) !important;
  fill: var(--color-body) !important;
}

/* section {
  padding: 1rem;
} */

/* section:has(>:target) {
background-color: var(--color-subdued-highlight);
animation-duration: 0.5s;
animation-delay: 0.5s;
animation-name: fade-highlight;
animation-direction: normal;
animation-fill-mode: backwards;
animation-iteration-count: 2;
animation-timing-function: cubic-bezier();
}

@keyframes fade-highlight {
  0% {
    background-color: var(--color-background);
  }

  50% {
    background-color: var(--color-subdued-highlight);
  }

  100% {
    background-color: var(--color-background);
  }
}

*/