---
const currentUrl = Astro.url;
const pathname = currentUrl.pathname;
---

<header>
  <a class="masthead" aria-label="Ally Crawler" href="/">A11yCrwlr</a>

  <nav class="site-nav" aria-label="Main Navigation">
    <ul>
      <li><a href="/" class={pathname === '/' ? 'current' : ''}>Report</a></li>
      <li><a href="/log" class={pathname.startsWith('/log') ? 'current' : ''}>Project Log</a></li>
      <li><a href="/poster" class={pathname.startsWith('/poster') ? 'current' : ''}>Poster</a></li>
      <li><a href="/todo" class={pathname.startsWith('/todo') ? 'current' : ''}>Todo</a></li>
    </ul>
  </nav>
</header>

<style>
  header {
    grid-column: span 2;
    padding-inline: 2rem;
    padding-block: 1rem;
    border-bottom: 1px solid var(--color-body);
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }

  .masthead {
    font-family: var(--font-sans);
    font-size: var(--size-step-1);
    text-decoration: none;
  }

  nav ul {
    display: flex;
    align-items: baseline;
    gap: 2rem;
    list-style-type: none;
    font-family: var(--font-sans);
  }

  nav ul li a {
    text-decoration: none;
  }

  nav ul li a:hover {
    text-decoration: underline;
  }

  .current {
    color: var(--color-primary);
    text-decoration: underline;
  }
</style>
