---
const { title, sections } = Astro.props;
const sectionData = sections.map((section) => ({
  title: section.data.title,
  slug: section.slug,
  subsections: section.data.subsections || [],
}));
---

<aside class="sidebar">
  <nav aria-labelledby="nav-label">
    <label class="masthead" id="nav-label">Contents</label>
    <ol class="menu">
      {
        sectionData.map((section) => (
          <Fragment>
            <li>
              <a href={'#' + section.slug}>{section.title}</a>
              {section.subsections.length > 0 && (
                <ol class="submenu">
                  {section.subsections.map((subsection) => (
                    <li>
                      <a href={'#' + subsection.slug}>{subsection.title}</a>
                    </li>
                  ))}
                </ol>
              )}
            </li>
          </Fragment>
        ))
      }
    </ol>
  </nav>
</aside>

<style>
  aside {
    position: relative;
    font-family: var(--font-sans);
    /* overflow-y: auto; */
    transform: translateZ(0);
  }

  nav {
    padding: 1rem;
    position: sticky;
    background-color: var(--color-subdued-surface);
    top: 0;
    left: 0;
    right: 0;
  }
  label {
    line-height: 1;
    margin-block-end: 0;
    font-weight: 700;
  }
  .menu,
  .submenu {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  li {
    display: block;
  }

  li a {
    display: block;
    margin: 0.25em;
    text-decoration-color: var(--body);
    /* padding: 0.25em; */
  }

  li a:hover,
  li a:focus {
    /* background: var(--color-primary); */
    /* background: var(--color-surface); */
    /* color: var(--color-background); */
  }

  .submenu li a {
    padding-inline-start: 1em;
    margin-inline: 0;
  }
</style>
