---
const { title, sections } = Astro.props;
const sectionData = sections.map((section) => ({
  title: section.data.title,
  slug: section.slug,
  subsections: section.data.subsections || [],
}));
---

<aside class="sidebar">
  <label class="masthead" id="nav-label">Contents</label>
  <nav aria-labelledby="nav-label">
    <ol class="menu">
      {
        sectionData.map((section) => (
          <Fragment>
            <li>
              <a href={'#' + section.slug}>{section.title}</a>
              {section.subsections.length > 0 && (
                <ol class="submenu">
                  {section.subsections.map((subsection) => (
                    <li>
                      <a href={'#' + subsection.slug}>{subsection.title}</a>
                    </li>
                  ))}
                </ol>
              )}
            </li>
          </Fragment>
        ))
      }
    </ol>
  </nav>
</aside>

<style>
  aside {
    font-family: var(--font-sans);
    margin: 2rem;
  }
  label {
    line-height: 1;
    margin-block-end: 0;
    font-weight: 700;
  }
  .menu,
  .submenu {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  li {
    display: block;
    /* position: relative; */
  }

  li a {
    display: block;
  }

  li a:hover,
  li a:focus {
    background: var(--color-primary);
    /* background: rgb(var(--color-black), 0.01); */
    color: var(--color-background);
  }

  .submenu li a {
    padding-inline-start: 0.5em;
    margin-inline: 0;
  }
</style>
