---
import Layout from './Layout.astro';
const { frontmatter } = Astro.props;
const { title } = frontmatter;
---

<Layout {title}>
  <main class="no-sidebar">
    <article class="flow">
      <h1>{title}</h1>
      <slot />
    </article>
  </main>
</Layout>
