---
import Layout from './Layout.astro';
const { frontmatter } = Astro.props;
const { title } = frontmatter;
---

<Layout {title}>
  <article class="flow" id="main-content">
    <h1>{title}</h1>
    <slot />
  </article>
</Layout>
