---
import Layout from './Layout.astro';
import Sidebar from '../components/Sidebar.astro';
import { getCollection } from 'astro:content';
const { title } = Astro.props;

const allSections = await getCollection('sections');
---

<Layout {title}>
  <Sidebar {title} sections={allSections} slot="sidebar" />
  <main>
    <slot />
  </main>
</Layout>
